
<!DOCTYPE html>
<html>
<head>
	<title>vue</title>
</head>
<body>
	<!-- 选自webpack-seed/src/public-resource/layout/layout/html.ejs -->

	<%= header %>
	<div id="wrapper">
	  <%= topNav %>
	  <%= sideMenu %>
	  <%= content %>
	</div>
	<%= footer %>
</body>
</html>

